@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Caveat:wght@700&family=Fira+Code:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Fira Code", monospace;
  font-weight: 400;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eff2f1;
}

.container {
  padding: 2rem 7rem;
  border-radius: 2rem;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

h1 {
  background-color: #454b66;
  color: #eff2f1;
  height: 5rem;
  line-height: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s; */

  transition: transform 0.5s;
}

.choice:hover {
  opacity: 0.5;
  cursor: pointer;
  background-color: #322a26;
  transform: translateY(-10px);
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 5rem;
}

#msg {
  background-color: #474a48;
  font-size: 2.5rem;
  display: inline;
  color: #f4442e;
  padding: 1rem;
  border-radius: 1rem;
}
